@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/violet.css';

/* reset */
.cc-AlertDialogOverlay {
    background-color: var(--black-a9);
    position: fixed;
    inset: 0;
    animation: overlayShow 350ms cubic-bezier(0.16, 1, 0.3, 1);
}

.contact-header-modal-menu-button svg {
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid hsla(138, 48%, 38%, 0.6);
    padding: 0.5rem 0.5rem;
    border-radius: 8px;
}

.cc-AlertDialogContent {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #191919;
    box-shadow: 1px 1px 1px hsla(0, 0%, 100%, 0.3) inset, -1px -1px 1px hsla(0, 0%, 100%, 0.3)inset;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    animation: contentShow 350ms cubic-bezier(0.16, 1, 0.3, 1);
    z-index: 1001;
}

.cc-AlertDialogContent:focus {
    outline: none;
}

.cc-AlertDialogDescription {
    display: flex;
    gap: 2.4rem;
    padding: 2% 4%;
    flex-direction: column;
    margin-bottom: 20px;
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    line-height: 1.5;
}

.logo-and-close {
    display: flex;
    justify-content: flex-end;
}

.contact-header-modal-logo img {
    width: 120px;
    height: 120px;
    border: 1px solid hsla(0, 0%, 100%, 0.459);
    border-radius: 50%;
}

.cc-AlertDialogCancel svg {
    width: 3rem;
    height: 3rem;
    filter: drop-shadow(0 0 2em hsl(138, 48%, 38%));
    cursor: pointer;
}

.contact-header-modal-menu nav {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    list-style: none;
    justify-content: space-between;
    padding-left: 0;
}

.contact-header-modal-menu nav a {
    color: #FEFEFE;
    font-size: 2em;
}

.contact-header-modal-menu nav a.active {
    color: hsl(237, 86%, 64%);
}

.contact-header-modal-cta-button-link {
    display: flex;
    gap: 0.8rem;
    max-width: fit-content;
    background-color: hsl(138, 48%, 38%);
    padding: 8px 24px;
    border-radius: 24px;
    will-change: filter;
    transition: filter 300ms;
    color: hsl(0, 0%, 90%);
}

.contact-header-modal-cta-button-link:hover {
    filter: drop-shadow(0 0 1em hsl(138, 48%, 38%));
}

@keyframes overlayShow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes contentShow {
    from {
        opacity: 0;
        transform: translate(-50%, -48%) scale(0.96);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}