.contact-header {
    position: relative;
    min-height: 10vh;
    max-height: 10vh;
    z-index: 1000;
    align-items: start;
}

.contact-header-content-pill {
    position: relative;
    padding: 1% 4%;
    border: 1px solid hsl(0, 0%, 16%);
    box-shadow: 1px 1px 1px hsla(138, 48%, 38%, 0.2), -1px -1px 1px hsla(138, 48%, 38%, 0.2);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: hsla(0, 0%, 15%, 0.6);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 1001;
    /*Use as cap*/
}


.contact-header-logo {
    display: flex;
    align-items: center;
}

.contact-header-logo a {
    display: flex;
    align-items: center;
}

.contact-header-logo img {
    height: 40px;
    width: 124px;
}

.contact-header-hamburger-menu {
    display: flex;
    cursor: pointer;
}

.contact-header-modal-menu-button {
    display: flex;
}

.contact-header-main-menu nav {
    display: flex;
    flex-direction: row;
    gap: 24px;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
}

.contact-header-main-menu nav a {
    color: #FEFEFE;
    transition: ease-out;
    transition-duration: .3s;
}

.contact-header-main-menu nav a:hover {
    font-size: larger;
    cursor: pointer;
    color: hsl(237, 86%, 64%);
}

#contact-header-main-menu nav a:focus {
    font-size: small;
    color: hsl(138, 48%, 38%);
}

.contact-header-main-menu nav a.active {
    color: hsl(237, 86%, 64%);
}

.contact-header-cta-button-link {
    background-color: hsl(138, 48%, 38%);
    padding: 8px 24px;
    border-radius: 24px;
    will-change: filter;
    transition: .3s ease-in;
    transition: all .6s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #FEFEFE;

}

.contact-header-cta-button-link:hover {
    filter: drop-shadow(0 0 1em hsl(138, 48%, 38%));
    cursor: pointer;
    color: hsl(237, 86%, 64%);

}

.contact-header-cta-button-link h4 {
    font-size: 18px;
    line-height: 18px;
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 565px) {

    /* Styles */
    .contact-header-hamburger-menu {
        display: flex;
    }

    .contact-header-main-menu,
    .contact-header-cta-button {
        display: none;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 480px) {

    /* Styles */
    .contact-header-hamburger-menu {
        display: flex;
    }

    .contact-header-main-menu,
    .contact-header-cta-button {
        display: none;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (max-device-width : 768px) and (orientation : landscape) {

    /* Styles */
    .contact-header-hamburger-menu {
        display: flex;
    }

    .contact-header-main-menu,
    .contact-header-cta-button {
        display: none;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (max-device-width : 768px) and (orientation : portrait) {

    /* Styles */
    .contact-header-hamburger-menu {
        display: flex;
    }

    .contact-header-main-menu,
    .contact-header-cta-button {
        display: none;
    }
}