.about-section {
    padding: 5% 3%;
    background-color: hsl(0, 0%, 15%);
}

.about-section-columns {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.about-section-column-two {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 50%;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 1rem;
}

.about-section-ivan-rotating-gif {
    height: 450px;
    width: 450px;
}

.about-me-title-pill h2 {
    border: 1px solid hsla(138, 48%, 38%, 0.2);
    box-shadow: 1px 1px 1px hsla(138, 48%, 38%, 0.15), -1px -1px 1px hsla(138, 48%, 38%, 0.15);
    width: fit-content;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1% 4%;
    background-color: hsl(0, 0%, 15%);
    font-size: 14px;
}

.about-section-header {
    letter-spacing: 0.08rem;
    color: hsl(138, 48%, 38%);
}

.about-section-paragraph {
    letter-spacing: 0.08rem;
    line-height: 1.6rem;
}

.ivan-the-dev-social-media {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ivan-the-dev-social-media h4 {
    padding: 0 1rem;
    color: hsl(138, 48%, 38%);
}

.ivan-the-dev-social-media h4 span {
    color: hsl(0, 0%, 100%)
}

.ivan-the-dev-social-media-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
}

.ivan-the-dev-social-media-icons>* {
    will-change: filter;
    transition: filter 300ms;
}

.ivan-the-dev-social-media-icons>*:hover {
    filter: drop-shadow(0 0 1em hsl(138, 48%, 38%));
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 565px) {

    /* Styles */
    .about-section-columns {
        flex-direction: column;
    }

    .about-section-ivan-rotating-gif {
        height: 300px;
        width: 300px;
    }

    .about-section-column-two {
        min-width: fit-content;
        padding: 8px;
    }

    .about-me-title-pill {
        padding: 0 1rem;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 480px) {

    /* Styles */
    .about-section-columns {
        flex-direction: column;
    }

    .about-section-ivan-rotating-gif {
        height: 300px;
        width: 300px;
    }

    .about-section-column-two {
        min-width: fit-content;
        padding: 8px;
    }

    .about-me-title-pill {
        padding: 0 1rem;
    }

}

/* iPads (landscape) ----------- */
@media only screen and (max-device-width : 768px) and (orientation : landscape) {

    /* Styles */
    .about-section-columns {
        flex-direction: column;
    }

    .about-section-ivan-rotating-gif {
        height: 300px;
        width: 300px;
    }

    .about-section-column-two {
        min-width: fit-content;
        padding: 8px;
    }

    .about-me-title-pill {
        padding: 0 1rem;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (max-device-width : 768px) and (orientation : portrait) {
    /* Styles */

    .about-section-columns {
        flex-direction: column;
    }

    .about-section-ivan-rotating-gif {
        height: 300px;
        width: 300px;
    }

    .about-section-column-two {
        min-width: fit-content;
        padding: 8px;
    }

    .about-me-title-pill {
        padding: 0 1rem;
    }

}