.header {
    position: relative;
    padding: 3% 5%;
    min-height: 10vh;
    max-height: 20vh;
}

.header-content-pill {
    border: 1px solid hsl(0, 0%, 16%);
    box-shadow: 1px 1px 1px hsl(0, 0%, 18%), -1px -1px 1px hsl(0, 0%, 18%);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3%;
    background-color: hsl(0, 0%, 15%);
}


.header-logo {
    display: flex;
    align-items: center;
}

.header-logo a {
    display: flex;
    align-items: center;
}

.header-logo img {
    height: 40px;
    width: 100px;
}

.header-hamburger-menu {
    display: none;
}

.header-main-menu ul {
    display: flex;
    flex-direction: row;
    gap: 24px;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
}

.header-main-menu ul li a {
    color: #FEFEFE;
    transition: ease-out;
    transition-duration: .3s;
}

.header-main-menu ul li a:hover {
    font-size: larger;
    color: hsl(138, 48%, 38%);
}

.header-main-menu ul li a::selection {
    font-size: smaller;
    color: hsl(138, 48%, 38%);
}

.header-cta-button-link {
    background-color: hsl(138, 48%, 38%);
    padding: 8px 24px;
    border-radius: 24px;
    will-change: filter;
    transition: .3s ease-in;

}

.header-cta-button-link:hover {
    filter: drop-shadow(0 0 1em hsl(138, 48%, 38%));
    cursor: pointer;

}

.header-cta-button-link {
    color: #FEFEFE;
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 565px) {

    /* Styles */
    .header-hamburger-menu {
        display: flex;
    }

    .header-main-menu,
    .header-cta-button {
        display: none;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 480px) {

    /* Styles */
    .header-hamburger-menu {
        display: flex;
    }

    .header-main-menu,
    .header-cta-button {
        display: none;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (max-device-width : 768px) and (orientation : landscape) {

    /* Styles */
    .header-hamburger-menu {
        display: flex;
    }

    .header-main-menu,
    .header-cta-button {
        display: none;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (max-device-width : 768px) and (orientation : portrait) {

    /* Styles */
    .header-hamburger-menu {
        display: flex;
    }

    .header-main-menu,
    .header-cta-button {
        display: none;
    }
}