.hero-section {
    padding: 0 5%;
    position: relative;
}

.hero-section-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    flex-wrap: nowrap;
}

.hero-section-column-one {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero-section-header {
    font-size: 3.2rem;
    color: hsl(138, 48%, 38%);
}

.hero-section-header, .hero-section-paragraph {
    letter-spacing: 0.1rem;
}

.hero-section-paragraph span { /*text type animation color*/
    color: hsl(138, 48%, 38%);
    filter: drop-shadow(0 0 1em hsl(138, 48%, 38%));
}

.hero-section-main-cta-link {
    background-color: hsl(138, 48%, 38%);
    width: fit-content;
    padding: 8px 24px;
    border-radius: 24px;
    will-change: filter;
    transition: filter 300ms;
}

.hero-section-main-cta-link:hover {
    filter: drop-shadow(0 0 1em hsl(138, 48%, 38%));
}

.hero-section-main-cta-link {
    color: #FEFEFE;
}

.hero-section-ivanthedevbot {
    height: 500px;
    width: 500px;
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 565px) {
    /* Styles */
    .hero-section-columns {
        gap: 20px;
        flex-direction: column;
    }

    .hero-section-column-two {
        display: flex;
        justify-content: center;
    }

    .hero-section-ivanthedevbot {
        height: 300px;
        width: 300px;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 480px) {

    /* Styles */
    .hero-section-columns {
        gap: 20px;
        flex-direction: column;
    }

    .hero-section-column-two {
        display: flex;
        justify-content: center;
    }

    .hero-section-ivanthedevbot {
        height: 300px;
        width: 300px;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (max-device-width : 768px) and (orientation : landscape) {
    /* Styles */
    .hero-section-columns {
        gap: 20px;
        flex-direction: column;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (max-device-width : 768px) and (orientation : portrait) {
    /* Styles */
    .hero-section-columns {
        gap: 20px;
        flex-direction: column;
    }
}