.hc-success-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsla(0, 0%, 10%, 0.2);
    box-shadow: 1px 1px 1px hsla(0, 0%, 100%, 0.3) inset, -1px -1px 1px hsla(0, 0%, 100%, 0.3)inset;
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 6px;
    width: 90vw;
    max-width: 300px;
    max-height: 85vh;
    padding: 25px;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}