.home-header {
  position: relative;
  padding: 3% 5%;
  min-height: 10vh;
  max-height: 20vh;
  z-index: 1000;
}

.home-header-content-pill {
  border: 1px solid hsl(0, 0%, 16%);
  box-shadow: 1px 1px 1px hsla(138, 48%, 38%, 0.2),
    -1px -1px 1px hsla(138, 48%, 38%, 0.2);
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3%;
  background-color: hsl(0, 0%, 15%);
  top: 0;
  z-index: 1001; /*Use as cap*/
}

.home-header-logo {
  display: flex;
  align-items: center;
  width: 150px;
  height: 32px;
  justify-content: center;
}

.home-header-logo a {
  display: flex;
  align-items: center;
}

.home-header-logo img {
  height: 40px;
  width: 200px;
}

.home-header-hamburger-menu {
  display: none;
}

.home-header-main-menu nav {
  display: flex;
  flex-direction: row;
  gap: 24px;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}

.home-header-main-menu #home-header-main-nav a {
  color: #fefefe;
  transition: ease-out;
  transition-duration: 0.3s;
}

.home-header-main-menu #home-header-main-nav a:hover {
  font-size: larger;
  cursor: pointer;
  color: hsl(237, 86%, 64%);
}

#home-header-main-nav a:focus {
  font-size: small;
  color: hsl(138, 48%, 38%);
}

.home-header-main-menu #home-header-main-nav a.active {
  color: hsl(237, 86%, 64%);
}

.home-header-cta-button-link {
  background-color: hsl(138, 48%, 38%);
  padding: 8px 24px;
  border-radius: 24px;
  will-change: filter;
  transition: 0.3s ease-in;
  transition: all 0.6s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #fefefe;
}

.home-header-cta-button-link:hover {
  filter: drop-shadow(0 0 1em hsl(138, 48%, 38%));
  cursor: pointer;
  color: hsl(237, 86%, 64%);
}

.home-header-cta-button-link h4 {
  font-size: 18px;
  line-height: 18px;
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width: 565px) {
  /* Styles */
  .home-header-hamburger-menu {
    display: flex;
  }

  .home-header-main-menu,
  .home-header-cta-button {
    display: none;
  }
}

/* Smartphones and tablets ----------- */
@media only screen and (max-width: 768px) {
  /* Styles */
  .home-header-hamburger-menu {
    display: flex;
  }

  .home-header-main-menu,
  .home-header-cta-button {
    display: none;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (max-device-width: 768px) and (orientation: portrait) {
  /* Styles */
  .home-header-hamburger-menu {
    display: flex;
  }

  .home-header-main-menu,
  .home-header-cta-button {
    display: none;
  }
}
