.skills-section {
    padding: 3% 5%;
    background-color: hsl(0, 0%, 15%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    width: 50%;
    font-size: 10px;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid hsl(138, 48%, 38%);
}

.separator:not(:empty)::before {
    margin-right: 0.8em;
}

.separator:not(:empty)::after {
    margin-left: 0.8em;
}

.skills-section-header {
    text-align: center;
    border: 1px solid hsla(138, 48%, 38%, 0.2);
    box-shadow: 1px 1px 1px hsla(138, 48%, 38%, 0.15), -1px -1px 1px hsla(138, 48%, 38%, 0.15);
    width: fit-content;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1% 4%;
    background-color: hsl(0, 0%, 15%);
}

.skills-section-header h2 {
    font-size: 16px;
}

.skills-section-header h2 span {
    color: hsl(138, 48%, 38%);
}

.skills-section-paragraph-hook p {
    text-align: center;
    padding-bottom: 10px;
    letter-spacing: 0.05rem;
    line-height: 1.6rem;
}

.skill-set-icons {
    position: relative;
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.skill-set-icons svg,
i {
    height: 2.5em;
    width: 2.5em;
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 565px) {

    /* Styles */
    .skill-set-icons {
        max-width: none;
        padding: 0 1rem;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 480px) {

    /* Styles */
    .skill-set-icons {
        max-width: none;
        padding: 0 1rem;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (max-device-width : 768px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (max-device-width : 768px) and (orientation : portrait) {
    /* Styles */
}