@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  font-family: "Fira Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(0, 0%, 13%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: hsl(138, 38%, 48%);
  }

  button {
    background-color: #f9f9f9;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  body {
    padding: 1.5em 1.5em 0 1.5em;
  }

  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 480px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (max-device-width: 768px) and (orientation: portrait) {
  /* Styles */
}
